# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


build/Android/obj/
build/MacOS/.DS_Store
build/MacOS/magnode/build/
build/MacOS/magnode/magnode.xcodeproj/project.xcworkspace/
build/MacOS/magnode/magnode.xcodeproj/xcuserdata/
build/iOS/.DS_Store
build/iOS/magnode/.DS_Store
build/iOS/magnode/build/
build/iOS/magnode/magnode.xcodeproj/project.xcworkspace/
build/iOS/magnode/magnode.xcodeproj/xcuserdata/

test/MacOS/.DS_Store
test/MacOS/test_magnode/test_magnode.xcodeproj/project.xcworkspace/
test/MacOS/test_magnode/test_magnode.xcodeproj/xcuserdata/
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*t/*/.DS_Store
